<a href="https://colab.research.google.com/github/XANDENHOw/CursoDeExtensaoPythonPandas/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  Inserção de dados, remoção de colunas, merge e gráficos.

  Autor: Alexandre Pacheco

  Data: 9 e 10 de fevereiro de 2023

In [2]:
#Import da biblioteca Pandas
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [3]:
print(combustiveis_df.head())

  Regiao - Sigla Estado - Sigla  Municipio               Revenda  \
0             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA
1             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA
2             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA
3             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA
4             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA

       CNPJ da Revenda     Nome da Rua Numero Rua Complemento       Bairro  \
0   12.451.076/0004-65  RODOVIA AL 220      105.0       KM 68  CANAFISTULA
1   12.451.076/0004-65  RODOVIA AL 220      105.0       KM 68  CANAFISTULA
2   12.451.076/0004-65  RODOVIA AL 220      105.0       KM 68  CANAFISTULA
3   12.451.076/0004-65  RODOVIA AL 220      105.0       KM 68  CANAFISTULA
4   12.451.076/0004-65  RODOVIA AL 220      105.0       KM 68  CANAFISTULA

         Cep             Produto Data da Coleta  Valor de Venda  \
0  57302-605            GASOLINA     2021-11-01           6.799
1  57302-605              ETANOL     2021-11-01           5.299
2  57302-605              DIESEL     2021-11-01           5.549
3  57302-605  GASOLINA ADITIVADA     2021-11-01           6.899
4  57302-605          DIESEL S10     2021-11-01           5.649

   Valor de Compra Unidade de Medida       Bandeira
0              NaN        R$ / litro  VIBRA ENERGIA
1              NaN        R$ / litro  VIBRA ENERGIA
2              NaN        R$ / litro  VIBRA ENERGIA
3              NaN        R$ / litro  VIBRA ENERGIA
4              NaN        R$ / litro  VIBRA ENERGIA

In [4]:
#Inserção simples de dados
combustiveis_df['Ativo'] = True
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105.0,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105.0,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105.0,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105.0,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105.0,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [7]:
#Criar uma coluna 'Obs' escrito "Melhor Cidade" quando a coluna 'Municipio' for "TUBARAO"
combustiveis_df['Obs'] = ["Cidade Toppen" if municipio == 'TUBARAO' else 'Cidade Meia Boca' for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['TUBARAO', 'SAO PAULO']), ['Municipio', 'Obs']])

        Municipio               Obs
1601    SAO PAULO  Cidade Meia Boca
1602    SAO PAULO  Cidade Meia Boca
1603    SAO PAULO  Cidade Meia Boca
1604    SAO PAULO  Cidade Meia Boca
6416    SAO PAULO  Cidade Meia Boca
...           ...               ...
166128    TUBARAO     Cidade Toppen
166132    TUBARAO     Cidade Toppen
166133    TUBARAO     Cidade Toppen
166134    TUBARAO     Cidade Toppen
166135    TUBARAO     Cidade Toppen

[5487 rows x 2 columns]

In [9]:
import numpy as np

combustiveis_df['Valor de Venda - Status'] = np.where(combustiveis_df['Valor de Venda'] > 5.5, 'Caro', 'Aceitável')
display(combustiveis_df[['Revenda', 'Valor de Venda', 'Valor de Venda - Status']])

,Revenda,Valor de Venda,Valor de Venda - Status
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Aceitável
2,POSTO ARAPIRACA LTDA,5.549,Caro
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Caro
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Caro
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Aceitável
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Aceitável
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [12]:
num_hab_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_hab_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_hab_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [16]:
#MERGE dos dois DF
colunas = ['Municipio' , 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_hab_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854.0,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,Cidade Meia Boca,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854.0,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,Cidade Meia Boca,Aceitável,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854.0,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,Cidade Meia Boca,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,Cidade Meia Boca,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,Cidade Meia Boca,Aceitável,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160.0,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,Cidade Meia Boca,Caro,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496.0,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,Cidade Meia Boca,Aceitável,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496.0,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,Cidade Meia Boca,Caro,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496.0,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,Cidade Meia Boca,Aceitável,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496.0,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,Cidade Meia Boca,Caro,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           20634 non-null  object
 1   Estado - Sigla           20634 non-null  object
 2   Municipio                20634 non-null  object
 3   Revenda                  20634 non-null  object
 4   CNPJ da Revenda          20634 non-null  object
 5   Nome da Rua              20634 non-null  object
 6   Numero Rua               20634 non-null  object
 7   Complemento              3837 non-null   object
 8   Bairro                   20634 non-null  object
 9   Cep                      20634 non-null  object
 10  Produto                  20634 non-null  object
 11  Data da Coleta           20634 non-null  datetime64[ns]
 12  Valor de Venda           20634 non-null  float64
 13  Valor de Compra          0 non-null      float64
 14  Unidade de Medida        20634 non-null  object
 15  Bandeira                 20634 non-null  object
 16  Ativo                    20634 non-null  bool
 17  Obs                      20634 non-null  object
 18  Valor de Venda - Status  20634 non-null  object
 19  NumHabitantes2021        20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.2+ MB
None

In [18]:
merge_df.dropna(axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           20634 non-null  object
 1   Estado - Sigla           20634 non-null  object
 2   Municipio                20634 non-null  object
 3   Revenda                  20634 non-null  object
 4   CNPJ da Revenda          20634 non-null  object
 5   Nome da Rua              20634 non-null  object
 6   Numero Rua               20634 non-null  object
 7   Bairro                   20634 non-null  object
 8   Cep                      20634 non-null  object
 9   Produto                  20634 non-null  object
 10  Data da Coleta           20634 non-null  datetime64[ns]
 11  Valor de Venda           20634 non-null  float64
 12  Unidade de Medida        20634 non-null  object
 13  Bandeira                 20634 non-null  object
 14  Ativo                    20634 non-null  bool
 15  Obs                      20634 non-null  object
 16  Valor de Venda - Status  20634 non-null  object
 17  NumHabitantes2021        20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 2.9+ MB
None

In [21]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 'Bairro', 'Cep', 'Produto', 'Data da Coleta',
         'Valor de Venda', 'Unidade de Medida', 'Bandeira', 'Ativo', 'Valor de Venda - Status']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   Obs                20634 non-null  object
 5   NumHabitantes2021  20634 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.1+ MB
None

In [22]:
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Obs,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Cidade Meia Boca,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Cidade Meia Boca,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Cidade Meia Boca,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,Cidade Meia Boca,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,Cidade Meia Boca,1555626
...,...,...,...,...,...,...
95,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,Cidade Meia Boca,1555626
96,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,Cidade Meia Boca,1555626
97,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,Cidade Meia Boca,1555626
98,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,Cidade Meia Boca,1555626
99,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,Cidade Meia Boca,1555626

In [23]:
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Obs,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Cidade Meia Boca,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,Cidade Meia Boca,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,Cidade Meia Boca,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,Cidade Meia Boca,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,Cidade Meia Boca,1555626
...,...,...,...,...,...,...
1677,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA II LTDA,06.955.648/0001-06,Cidade Meia Boca,6775561
1682,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA LTDA,03.246.347/0001-07,Cidade Meia Boca,6775561
1688,RJ,RIO DE JANEIRO,NOVA PARADINHA AUTO POSTO LTDA,07.594.094/0001-13,Cidade Meia Boca,6775561
1694,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA PENHA LTDA.,07.035.006/0001-43,Cidade Meia Boca,6775561
1699,RJ,RIO DE JANEIRO,AUTO POSTO FUTURO GNV DE BONSUCESSO LTDA,05.037.349/0001-11,Cidade Meia Boca,6775561

In [28]:
postos_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_municipio_df.drop('CNPJ da Revenda', axis=1 , inplace=True)
postos_municipio_df.rename(columns={"Revenda":"Numero de Postos"}, inplace=True)
display(postos_municipio_df)

                                                 Numero de Postos  Obs
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           44   44
GO             GOIANIA        1555626                          93   93
MG             BELO HORIZONTE 2530701                          54   54
MS             CAMPO GRANDE   916001                          104  104
PR             CURITIBA       1963726                         110  110
RJ             RIO DE JANEIRO 6775561                         379  379
RN             NATAL          803739                           37   37
RO             PORTO VELHO    548952                           40   40
RS             PORTO ALEGRE   1492530                          73   73
SP             CAMPINAS       1223237                          51   51
               INDAIATUBA     260690                           36   36
               SANTOS         433991                           36   36
               SAO PAULO      12396372                        429  429
               SAO VICENTE    370839                           20   20
TO             PALMAS         313349                           26   26

In [32]:
#merge_df['PostosPorHabitante'] = postos_municipio_df['Numero de Postos'] / postos_municipio_df['NumHabitantes2021']